<section class="container-4">
    <div class="infos-left">
        <img src="../../../assets/images/image-container2.jpg" alt="Image d'étudiants">
    </div>
    <div class="infos-right">
    <h2>Description du BUT MMI</h2>
    <div class="rectangle"></div>
        <p>La spécialité MMI forme des professionnels de la conception et de la réalisation de produits et de services multimédias. Le diplômé MMI est un professionnel polyvalent appelé à réaliser ou à participer à la réalisation de projets multimédias et du developpement Web et à en assurer l'interface et la coordination. Ses compétences de maitrise s'appuient sur une solide culture générale, de l'informatique et du multimédia.</p>
        <button (click)="redirigerVersPageFormation()">Découvrir</button>
    </div>
</section>
