<div class="container">
    <div class="image">
      <img src="../../../assets/images/amphi.png" alt="Image à droite" />
    </div>
    <div class="content">
        <h2>Conférences</h2>
        <div class="rectangle"></div>
        <p>BUT Gestion des Entreprises et des Administrations (GEA)
            Conférence " Présentation du BUT GEA " à 10h30 et 14h30, en amphi BOSSUET, Mme Ghislaine LOPEO, Chef du Département GEA et des Enseignants du département.
        </p>
        <p>BUT Techniques de commercialisation (TC)
            Conférence  "Présentation du BUT TC en initial"  à 10h30 et 14h30 en amphi Luxembourg avec M. Arnaud Lemaire, Chef du Département TC, des enseignants et des étudiants TC1 & TC2 du département.
        </p>
        <p>BUT Métiers du multimédia et de l’Internet (MMI)
            Conférence-débat à 11h30et 15h30 en amphi Luxembourg avec la présence des enseignant du département MMI.
        </p>
    </div>
  </div>