.container {
    display: flex;
    justify-content: space-between;
    background-color: #F4F4F4; 
    color: #2F2A85; 
    height: 75vh;
  }
  
  .image {
    width: 80%;
    order: 2; 
    overflow: hidden; 
  }
  
  .image img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
  }
  
  .content {
      padding: 75px;
      padding-top: 80px;
  }
  h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
    }
  p {
    margin-top: 50px; 
    font-size: 23px;
    line-height: 1.5;
    text-align: justify;
    width: 80%;
    color: #2F2A85;
  }
  
  .rectangle {
    position: absolute;
    width: 325px;
    height: 12px;
    background-color: #2F2A85;
    margin-left: 105px; 
    margin-bottom: 20px; 
  }

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column; 
      justify-content: space-between;
      height: 120vh;
    }
  
    .image {
      width: 100%; 

      margin-bottom: 0;
    }
    h2 {
      font-size: 35px;
      
      }
    p {
      font-size: 18px;
      width: 100%;
    }
  
    .content {
      padding: 65px;
      padding-top: 60px;
      text-align: left; 
    }
  
    .rectangle {
      display: block; 
      margin-left: 0px; 
    }
  }