body{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: arial;
    background-color: #2E2A85;
}

#placement{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 40px;

}

#remontada{
    margin-top: -330px;
}

#espace{
    padding: 40px;
}

@media screen and (max-width: 800px) {
    #placement {
        flex-direction: column;
        margin-bottom: 30px;
    }
  }