<section id="apresformation">
    <h3 class="titre">Après la formation</h3>
    <section id="container2">
        <section id="containertxt">
            <p class="txt"> Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, 
                iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, 
                cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis 
                acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, 
                ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, 
                pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil 
                ignoscendum, sed etiam acriter est resistendum.Etenim si attendere diligenter, existimare vere de,
                iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, 
                cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis 
                acerbo odio niteretur. Sed ego Atratino,
            </p>

            <p class="txt"> Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, 
                iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, 
                cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis 
                acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, 
                ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, 
                pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil 
                ignoscendum, sed etiam acriter est resistendum.Etenim si attendere diligenter, existimare vere de,
                iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, 
                cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis 
                acerbo odio niteretur. Sed ego Atratino,
            </p>
        </section>
        <img id="img1" src="/assets/images/img1.png">
    </section>
</section>
