<section id="apresformation">
    <h3 class="titre">Après la formation</h3>
    <div class="rectangle"></div>
    <section id="container2">
        <section id="containertxt">
            <p class="txt">Après un BUT MMI, vous pouvez : 

                entrer en grande école d’ingénieurs via des concours en admissions parallèles
                intégrer un master d’informatique, d’audiovisuel ou encore de création numérique à l’université
                opter pour d’autres établissements comme les écoles de communication ou de multimédia
                Votre choix de poursuite d’études dépendra bien sûr de votre cas et de la spécialisation choisie au troisième semestre du BUT MMI. 
                
                
            </p>

            <p class="txt"> Quels sont les débouchés professionnels envisageables ? 
                Après votre BUT Multimédia, vous pourrez exercer des professions telles que : 
                
                Chargé de communication numérique
                Community manager
                Consultant en référencement 
                Graphiste
                Game designer
                Rédacteur web
                UX designer
                 etc. 
                Bien sûr, ces métiers seront plus ou moins accessibles selon la spécialité suivie à partir de la deuxième année. 
            </p>
        </section>
        <img id="img1" src="/assets/images/img1.png">
    </section>
</section>
