    <section id="containertitre">
        <h3 class="titrenoire"> Ressources</h3>
    </section>
<br><br><br><br>
<section id="ressource">
    <section class="unite">
        <div class="topunite">
            <div id="unit1" class="illustration">
                <img src="/assets/images/livre1.png" alt="">
            </div>
            <h2 class="txtunite"> Première année </h2>
        </div>
    
        <div class="bottomunite">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet. Sit dolorem enim a sint reiciendis et esse sint?
            Id quia laboriosam qui aperiam sapiente qui quidem explicabo eos voluptatibus nulla 33 aspernatur eligendi. Aut earum libero 
            est dicta nihil quo temporibus enim et laudantium molestiae. Eum assumenda esse et unde cumque qui voluptatum nihil non quod 
            esse est minus similique qui itaque voluptatem! 
            </p>
            <br><br>
            <p>Non natus sint eum enim fuga qui nesciunt temporibus aut excepturi 
            voluptatem aut nesciunt unde cum nihil nemo. Aut fugiat explicabo ut architecto praesentium et obcaecati cupiditate sed 
            recusandae repudiandae et sunt quos eos laborum consectetur! 
            </p>
        </div>
    </section>

    <section class="unite">
        <div class="topunite">
            <div id="unit2" class="illustration">
                <img src="/assets/images/livre2.png" alt="">
            </div>
            <h2 class="txtunite"> Deuxième année</h2>
        </div>
    
        <div class="bottomunite">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet. Sit dolorem enim a sint reiciendis et esse sint?
            Id quia laboriosam qui aperiam sapiente qui quidem explicabo eos voluptatibus nulla 33 aspernatur eligendi. Aut earum libero 
            est dicta nihil quo temporibus enim et laudantium molestiae. Eum assumenda esse et unde cumque qui voluptatum nihil non quod 
            esse est minus similique qui itaque voluptatem! 
            </p>
            <br><br>
            <p>Non natus sint eum enim fuga qui nesciunt temporibus aut excepturi 
            voluptatem aut nesciunt unde cum nihil nemo. Aut fugiat explicabo ut architecto praesentium et obcaecati cupiditate sed 
            recusandae repudiandae et sunt quos eos laborum consectetur! 
            </p>
        </div>
    </section>

    <section class="unite"><a href="page-visite">
        <div class="topunite">
            <div id="unit3" class="illustration">
                <img src="/assets/images/livre3.png" alt="">
            </div>
            <h2 class="txtunite"> Troisième année</h2>
        </div>
        
        <div class="bottomunite">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet. Sit dolorem enim a sint reiciendis et esse sint?
                Id quia laboriosam qui aperiam sapiente qui quidem explicabo eos voluptatibus nulla 33 aspernatur eligendi. Aut earum libero 
                est dicta nihil quo temporibus enim et laudantium molestiae. Eum assumenda esse et unde cumque qui voluptatum nihil non quod 
                esse est minus similique qui itaque voluptatem! 
                </p>
                <br><br>
                <p>Non natus sint eum enim fuga qui nesciunt temporibus aut excepturi 
                voluptatem aut nesciunt unde cum nihil nemo. Aut fugiat explicabo ut architecto praesentium et obcaecati cupiditate sed 
                recusandae repudiandae et sunt quos eos laborum consectetur! 
                </p>
        </div>
        </a></section>

    <section class="unite">
        <div class="topunite">
            <div id="unit4" class="illustration">
                <img id="interrogation" src="/assets/images/icons8-point-d'interrogation-90.png" alt="">
            </div>
            <h2 class="txtunite"> Et après ?</h2>
        </div>
    
        <div class="bottomunite">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet. Sit dolorem enim a sint reiciendis et esse sint?
            Id quia laboriosam qui aperiam sapiente qui quidem explicabo eos voluptatibus nulla 33 aspernatur eligendi. Aut earum libero 
            est dicta nihil quo temporibus enim et laudantium molestiae. Eum assumenda esse et unde cumque qui voluptatum nihil non quod 
            esse est minus similique qui itaque voluptatem! 
            </p>
            <br><br>
            <p>Non natus sint eum enim fuga qui nesciunt temporibus aut excepturi 
            voluptatem aut nesciunt unde cum nihil nemo. Aut fugiat explicabo ut architecto praesentium et obcaecati cupiditate sed 
            recusandae repudiandae et sunt quos eos laborum consectetur! 
            </p>
        </div>
    </section>
</section>
<br>