    <section id="containertitre">
        <h3 class="titrenoire"> Ressources</h3>
    </section>
<br><br><br><br>
<section id="ressource">
    <section class="unite"><a href="page-ressources">
        <div class="topunite">
            <div id="unit1" class="illustration">
                <img src="/assets/images/livre1.png" alt="">
            </div>
            <h2 class="txtunite"> Première année </h2>
        </div>
    
        <div class="bottomunite">
            <p>La première année est une immersion dans les fondamentaux. Les étudiants sont initiés aux Sciences de l'Information et de la Communication (SIC), jetant ainsi les bases théoriques de leur parcours. La culture numérique est explorée, mettant en lumière les enjeux sociétaux liés à l'évolution rapide des technologies. Les compétences en infographie et design graphique sont développées, tout comme les premiers pas dans la programmation web. L'année culmine avec un projet tutoré, offrant aux étudiants l'occasion de mettre en pratique leurs connaissances naissantes.
            </p>
        </div>
        <div class="lien">
            <p class="trait">En savoir plus</p><img src="../../../assets/images/Vector.png" alt="fleche">
        </div></a>
    </section>

    <section class="unite"><a href="page-ressources2">
        <div class="topunite">
            <div id="unit2" class="illustration">
                <img src="/assets/images/livre2.png" alt="">
            </div>
            <h2 class="txtunite"> Deuxième année</h2>
        </div>
    
        <div class="bottomunite">
                        <p>La deuxième année marque une transition vers la spécialisation et l'approfondissement. Les étudiants se plongent davantage dans la conception multimédia, en se concentrant sur la création de contenus visuels et interactifs. Le développement web dynamique prend une place prépondérante, avec une exploration plus approfondie des technologies côté serveur et des bases de données. La communication digitale est étudiée en profondeur, incluant les stratégies de marketing digital. Les étudiants réalisent un projet concret pour un client externe, ancrant ainsi leurs compétences dans un contexte professionnel réel.
            </p>
        </div>
        <div class="lien">
            <p class="trait">En savoir plus</p><img src="../../../assets/images/Vector.png" alt="fleche">
        </div></a>
    </section>

    <section class="unite"><a href="page-ressources3">
        <div class="topunite">
            <div id="unit3" class="illustration">
                <img src="/assets/images/livre3.png" alt="">
            </div>
            <h2 class="txtunite"> Troisième année</h2>
        </div>
        
        <div class="bottomunite">
            <p>La troisième année est dédiée à la professionnalisation. Les étudiants se lancent dans un stage en entreprise, appliquant leurs compétences dans un environnement professionnel. Le projet de fin d'études devient le point central de l'année, représentant une synthèse de tout l'apprentissage antérieur. Des options de spécialisation peuvent être offertes, permettant aux étudiants de se concentrer sur des domaines spécifiques tels que le développement web, le design interactif ou la communication digitale. Des séminaires professionnels complètent le programme, fournissant aux étudiants une vision actualisée des tendances du secteur.</p>
        </div>
        <div class="lien">
            <p class="trait">En savoir plus</p><img src="../../../assets/images/Vector.png" alt="fleche">
        </div></a></section>

    <section class="unite"><a href="page-formation">
        <div class="topunite">
            <div id="unit4" class="illustration">
                <img id="interrogation" src="/assets/images/icons8-point-d'interrogation-90.png" alt="">
            </div>
            <h2 class="txtunite"> Et après ?</h2>
        </div>
    
        <div class="bottomunite">
                        <p>Le diplômé MMI peut exercer des fonctions très diverses en focntion du
                            parcours suivi (3 parcours : Developpement Web, Création numérique et
                            Stratégie de communication numérique) parmi lesquelles : intégrateurdéveloppeur web, gestionnaire de communauté (community manager),
                            administrateur de réseaux, assistant chef de projet multimédia, chargé de
                            communication, web designer, etc. Il peut poursuivre ses études en intégrant
                            des formations dans les domaine dee l'Information et la communication , le
                            marketing,l' informatique..., de type école d'ingénieur (ESIPE, IMAC, EFREI,
                            ESIEE,...), une école multimédia (IMAC, Les Gobelins, ...), etc...
                            
            </p>
        </div>
        <div class="lien">
            <p class="trait">En savoir plus</p><img src="../../../assets/images/Vector.png" alt="fleche">
        </div></a>
    </section>
</section>
<br>