<section id="bluebar"><br></section>
<section id="fond">
<section class="centrage">
<div id="user-info-form" *ngIf="!hasCreatedAccount">
    <h1>Formulaire</h1>
    <input class="champs" type="text" id="name" placeholder="Entrez votre nom" [(ngModel)]="name">

    <input class="champs" type="text" id="firstname" placeholder="Entrez votre prénom" [(ngModel)]="firstname">

    <input class="champs" type="text" id="mail" placeholder="Entrez votre e-mail" [(ngModel)]="mail">

    <button id="bouton" (click)="submitUserData()">Envoyer</button>
    <!-- <button (click)="showQuiz()" [disabled]="!hasCreatedAccount" id="test-button" disabled>Passer au Quiz</button> -->
</div>
</section>

<section class="centrage">
<div id="quiz-container" class="quiz-container" *ngIf="hasCreatedAccount">
    <h1>Quiz</h1>
    <div id="question-container-quiz"></div>
    <form id="quizForm" (submit)="submitQuiz($event)">
      <div class="question-container" *ngFor="let question of questions">
        <p>{{ question.question }}</p>
        <div id="espace" *ngFor="let option of question.options">
          <input type="radio" [value]="option.value" name="q{{ question.id }}">
          <label id="quest">{{ option.label }}</label><br>
        </div>
      </div>
      <br>
      <input id="bouton" type="submit" value="Submit">
    </form>
  </div>
</section>
</section>