.container {
  display: flex;
  justify-content: space-between;
  background-color: #211F37; 
  color: #fff; 
  height: 55vh;
}

.image {
  width: 80%;
  order: 2; /* Change l'ordre d'affichage, met l'image à droite */
  overflow: hidden; /* Empêche le dépassement du contenu hors du conteneur */
}

.image img {
  width: 100%; /* Assurez-vous que l'image occupe la largeur totale du conteneur */
  height: 100%;
  object-fit: cover; /* Ajuste la taille de l'image pour couvrir entièrement le conteneur */
}

.content {
    padding: 70px;
    padding-top: 60px;
}
h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 5px;
  }
p {
  margin-top: 50px; 
  font-size: 25px;
  line-height: 1.5;
  text-align: justify;
  width: 80%;
}

.rectangle {
  position: absolute;
  width: 125px;
  height: 12px;
  background-color: #fff;
  margin-left: 30px; margin-bottom: 20px; 
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Affiche les éléments en ligne sur les grands écrans */
    justify-content: space-between;
    height: 70vh;
  }

  .image {
    width: 100%;
    margin-bottom: 0; 
  }

  .content {
    padding: 90px;
    padding-top: 60px;
    text-align: left; 
  }
  h2 {
    font-size: 35px;
    margin-bottom: 15px;
    }
  p {
    font-size: 20px;
    width: 100%;
  }

  .rectangle {
    width: 230px;
    margin-left: 45px;
    margin-bottom: 50px;
  }
}