<section class="container-2">
    <div class="infos-left">
        <h2>Description de l'IUT</h2>
        <p>L'IUT a ouvert ses portes en septembre 1992 avec 150 étudiants s'inscrivant au Diplôme Universitaire Technologique (DUT) "Gestion des Entreprises et des Administrations" (GEA).
            Les effectifs s'accroissent rapidement et, dès la rentrée en 1993, 5 départements sont présents sur les deux pôles de Champs-sur-Marne (SRC, GTE et GC) et Meaux (GEA et TC).
            
            Dans le mouvement d'intégration dans les processus LMD (Licence-Master-Doctorat), notre IUT a remonté son offre de formations au niveau licence, en ouvrant  de nombreuses Licences Professionnelles. </p>
        <button (click)="redirigerVersPageRessources()">Décourvir</button>
    </div>
    <div class="infos-right">
    <img src="../../../assets/images/image-container2.jpg" alt="Image d'étudiants">
    </div>
</section>
