<nav class="navbar">
    <a href="page-acceuil"><img id="logo" src="../../../assets/images/logo.png" alt="logo_université_Gustave_Eiffel"></a>
    <div class="nav-links">
        <ul>
            <!-- <li class="active"><a href="#">Accueil</a></li> -->
            <li><a href="page-visite">Visite Virtuelle</a></li>
            <li><a href="page-formation">Formations</a></li>
            <li><a href="page-contact">Contact</a></li>
            <li id="calltoaction"><a href="page-jpo">Journée JPO</a></li>
        </ul>
    </div>
    <img src="../../../assets/images/image 18.png" alt="menu hamburger" class="menu-hamburger">
</nav>
