<nav class="navbar">
    <a href="#"><img id="logo" src="ressource/logo.png" alt="logo_université_Gustave_Eiffel"></a>
    <div class="nav-links">
        <ul>
            <!-- <li class="active"><a href="#">Accueil</a></li> -->
            <li><a href="#">Visite Virtuelle</a></li>
            <li><a href="#">Formations</a></li>
            <li><a href="#">Contact</a></li>
            <li id="calltoaction"><a href="#">Journée JPO</a></li>
        </ul>
    </div>
    <img src="ressource/menu-btn.png" alt="menu hamburger" class="menu-hamburger">
</nav>
