<table>
    <td><h3 class="STitre">Projets de troisième année</h3></td>
    </table>
    
    <section id="projet">
    
        <section class="projets">
        <a href="https://vincent.aldehuelo.fr/projets/ProjetOpen.html" target="_blank">
            <section class="separateur"></section>
            <img src="../../../assets/images/open.png" alt="Projet 3 Image">
            <span>Projet Open</span>
        </a>
        </section>
        
        <section class="projets">
            <a href="https://vincent.aldehuelo.fr/projets/ProjetPub.html" target="_blank">
                <section class="separateur"></section>
                <img src="../../../assets/images/pub.png" alt="Projet 3 Image">
                <span>Projet PUB Sunny</span>
            </a>
        </section>
        
        <section class="projets">
            <a href="https://vincent.aldehuelo.fr/projets/ProjetBras.html" target="_blank">
                <section class="separateur"></section>
                <img src="../../../assets/images/bras.png" alt="Projet 3 Image">
                <span>Projet animation</span>
            </a>
        </section>
    </section>
    