<header>
<section class="info">
    <h1>Meaux'vit : vers un avenir numérique</h1>
    <h2>Venez découvrir le BUT MMI lors de sa journée porte ouverte du 24/12/2023</h2>
<div id="countdown">
    <div class='container'>
        <span class='value'>{{ days }}</span>
        <span class='label'>Jours</span>
    </div>
    <div class='container'>
        <span class='value'>{{ hours }}</span>
        <span class='label'>Heures</span>
    </div>
    <div class='container'>
        <span class='value'>{{ minutes }}</span>
        <span class='label'>Minutes</span>
    </div>
    <div class='container'>
        <span class='value'>{{ seconds }}</span>
        <span class='label'>Secondes</span>
    </div>
    <div *ngIf="countdownMessage">{{ countdownMessage }}</div>
</div>


</section>
</header>
