table{
    border-bottom: #2F2A85 10px solid;
    margin-bottom: 90px;
    margin-left: 15%;
    width: 22%;
    }
    
    .STitre{
        font-family: Acumin Pro, Arial;
        font-weight: bold;
        font-size: 32px;
        color: rgb(0, 0, 0);
        margin-bottom: -5px;
        margin-left: -40%;
        margin-top: 30px;
    }
    
.projets {
    position: relative;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-family: TT Norms, arial;
    font-size: xx-large;
    box-shadow: 5px 5px 5px 0px #838383;
}

.projets::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F2A85;
    opacity: 0.75;
    border-radius: 10px;
    z-index: -1;
}

.projets img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.projets a {
    text-decoration: none;
    color: white;
}

.projets:hover::before {
    opacity: 0.9; 
}

.projets span {
    z-index: 2; 
    position: relative;
    text-align: center;
}

#projet {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 60px;
}

@media screen and (max-width: 800px) {
    table {
        display: none;
    }

    .STitre {
        display: none;
    }

    #projet {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .projets {
        margin-bottom: 50px;
        width: 500px;
        height: 300px;
    }
}
