table{
border-bottom: #2F2A85 10px solid;
margin-bottom: 90px;
margin-left: 15%;
width: 22%;
}

.STitre{
    font-family: Acumin Pro, Arial;
    font-weight: bold;
    font-size: 32px;
    color: rgb(0, 0, 0);
    margin-bottom: -5px;
    margin-left: -40%;
    margin-top: 30px;
}

#vrac{
margin-top: -3%;
max-width: 100%;
}

@media screen and (max-width: 800px) {
    table {
        display: none;
    }

    .STitre{
        display: none;
    }

    #vrac{
        margin-bottom: 30px;
    }
  }