<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat quizz</title>
</head>
<body>
    <section id="fond">
        <section id="container">
        <section id="containerg">
            <section id="containertxt">
                <h1>Obtenez vos résultat au quizz</h1>
            </section>
            <section id="containerimg">
                <img src="/assets/images/Ressources/icon.png">
            </section>
        </section>
        <section id="containerd">
            <form id="formulaire1">
                <input class="champs" type="text" name="prenom" placeholder="Prenom">
                <input class="champs" type="text" name="nom" placeholder="Nom">
                <input class="champs" type="email" name="email" placeholder="Adresse mail">
                <input id="bouton" type="submit" value="Envoyer">
            </form>

            <form id="formulaire2">
                <input class="champs2" type="text" name="prenom" placeholder="Prenom">
                <input class="champs2" type="text" name="nom" placeholder="Nom">
                <input class="champs2" type="email" name="email" placeholder="Adresse mail">
                <input id="bouton2" type="submit" value="Envoyer">
            </form>
        </section>
    </section>
    </section>
    <app-footer></app-footer>
</body>
</html>