<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="questionnaire.css" type="text/css"/>
    <title>Résultat quizz</title>
</head>
<body>
    <section id="fond">
        <section id="container">
        <section id="containerg">
            <section id="containertxt">
                <h1>Obtenez vos résultat au quizz</h1>
            </section>
            <section id="containerimg">
                <img src="Ressources/icon.png">
            </section>
        </section>
        <section id="containerd">
            <section id="containerq">
                <input id="prenom" type="text" placeholder="Prénom" name="prenom">
                <input id="nom" type="text" placeholder="Nom" name="nom">
                <input id="email" type="text" placeholder="E-mail" name="email">

                <input id="button" onclick="" type="submit" name="formquestionnnaire" value="Envoyer">
            </section>
        </section>
    </section>
    </section>
</body>
</html>