<section class="container-3">
    <div class="one">
        <img src="r../../../assets/images/icon.png" alt="Logo 1" class="logo">
        <p class="text">2315 étudiants</p>
    </div>
    <div class="two">
        <img src="../../../assets/images/icon-prof.png" alt="Logo 2" class="logo">
        <p class="text">90 enseignants-chercheurs</p>
    </div>
    <div class="three">
        <img src="../../../assets/images/icon3.png" alt="Logo 3" class="logo">
        <p class="text">40 personnels administratifs</p>
    </div>
</section>
