<body>
<nav></nav>
  <div id="content">
    <h1>Espace administrateur</h1>
    <button (click)="showConfiguration()">Configuration</button>
    <button (click)="showStatistics()">Statistiques</button>

    <div *ngIf="displayConfiguration">
        <form>
            <label for="heure">Heure :</label>
            
            <button type="submit">Soumettre</button>
        </form>
      
    </div>
    <div *ngIf="displayStatistics">
      <div id="statistiquesJPO">
        <p>Nombre de visiteurs: </p>
        <h2>Réponses au questionnaire</h2>
        <section class="questionGroup" *ngFor="let group of groupedAnswers; let i = index">
          <p class="question">{{ 'Q' + (i + 1) + '. ' + group.question }}</p>
          <ul>
            <li *ngFor="let answer of group.answers">
              <p><strong>{{ answer.answer }}</strong> de {{ answer.fk_user.name }} {{ answer.fk_user.firstname }}</p>
            </li>
          </ul>
        </section>
      </div>
    </div> 
  </div>
  <app-footer></app-footer>












</body>
