<body>
<p>page-admin works!</p>
<p>page-admin works!</p>
<p>page-admin works!</p>
<p>page-admin works!</p>
<h2>Admin Page</h2>

<!-- <button (click)="showStatistics()">Statistiques</button>
<button (click)="showConfiguration()">Configuration</button>
<div *ngIf="displayStatistics">
  <p>Contenu des statistiques...</p>
    <form>
        <label for="heure">Heure :</label>
        
        <button type="submit">Soumettre</button>
    </form>
  
</div>

<div *ngIf="displayConfiguration">
  <button (click)="getUsers()">Get Users</button>
  <p>Contenu de la configuration...</p>
</div> -->

<!-- <div *ngIf="usersData">
  <h3>Users Information</h3>
  <div *ngFor="let user of usersData.body">
    <p>ID: {{ user.id_user }}</p>
    <p>Name: {{ user.name }}</p>
    <p>Firstname: {{ user.firstname }}</p>
    <p>Email: {{ user.mail }}</p>
  </div>
  <p>Total Users: {{ usersData.userCount }}</p>
</div> -->
<!-- page-admin.component.html -->
<!-- page-admin.component.html -->
<!-- page-admin.component.html -->
<!-- page-admin.component.html -->
<!-- page-admin.component.html -->
<!-- page-admin.component.html -->
<div *ngFor="let group of groupedAnswers">
  <div>{{ group.question }}</div>
  <div *ngFor="let answer of group.answers">
    <div>{{ answer.answer }} de {{ answer.fk_user.name }} {{ answer.fk_user.firstname }}</div>
  </div>
  <hr>
</div>










</body>
