<section id="organisationformation">
    <h3 class="titrenoire"> Organisation de la formation</h3>
    <section id="container3">
        <!-- <section id="container4"> -->
        <section class="containericons">
            <img class="icons" src="/assets/images/icons8-cours-100.png">
            <h4>5 Unités d'Enseignement</h4>
        </section>
        <section class="containericons">
            <img class="icons" src="/assets/images/icons8-université-90.png">
            <h4>6 Semestres</h4>
        </section>
        <section class="containericons">
            <img class="icons" src="/assets/images/icons8-étude-100.png">
            <h4>200h de cours</h4>
        </section>
    <!-- </section> -->
    <!-- <section id="container5"> -->
        <section class="containericons">
            <img class="icons" src="/assets/images/icons8-design-100.png">
            <h4>600h de projet</h4>
        </section>
        <section class="containericons">
            <img class="icons" src="/assets/images/icons8-apprentissage-100.png">
            <h4>3 Expériences professionelles</h4>
        </section>
    <!-- </section> -->
    </section>

    <p> Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, 
        iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, 
        cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis 
        acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, 
        ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, 
        pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil 
        ignoscendum, sed etiam acriter est resistendum.Etenim si attendere diligenter, existimare vere de,
        iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, 
        cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis 
        acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, 
        ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, 
        pietati tribuo, si iussus est, necessitati,
    </p>
</section>