 /****ORGANISATIONFORMATION******/

 #organisationformation {
    width: 83%;
    margin: auto;
    /* background-color: red; */
}

#container3 {
    width: 93%;
    height: 12vw;
    display: flex;
    border: solid 6px #2F2A85;
    border-radius: 15px;
    margin: auto;
    /* background-color: aqua; */
}

#container4 {
    width: 100%;
    height: 15vw;
    display: flex;
    /* background-color: red; */
}

#container5 {
    width: 100%;
    height: 15vw;
    display: flex;
    /* background-color: aqua; */
}

.containericons {
    width: 15%;
    height: 10vw;
    text-align: center;
    margin: auto;
    /* background-color: yellow; */
}

.titrenoire {
    margin: 0 0 2vw 0;
    padding: 2vw 0 0.5vw 3vw;
    color: black;
    position: relative;
}

.titrenoire:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 250px; /* Ajustez cette valeur selon vos besoins */
    width: calc(30% - 100px); /* Ajustez en fonction de la position du soulignement */
    border-bottom: 10px solid #2F2A85; /* Couleur et épaisseur du soulignement */
}

.icons {
    width: 90px;
    height: 90px;
    
}

h3 {
    font-size: 2.5em;
    margin: 2vw 2vw 3vw 2vw;
    color: #2F2A85;
}

h4 {
    color: #2F2A85;
    font-size: 25px;

}

p {
    font-size: 1.1em;
    padding: 4vw;
}
  /****ORGANISATIONFORMATION******/

@media (max-width: 768px) {

    #organisationformation {
        width: 100%;

        /* background-color: red; */
    }
    
    #container3 {
        height: 16vw;
        display: flex;
        margin: 12vw auto;
        /* background-color: aqua; */
    }
    
    #container4 {
        width: 100%;
        height: 15vw;
        display: flex;
        /* background-color: red; */
    }
    
    #container5 {
        width: 100%;
        height: 15vw;
        padding: 3vw;
        background-color: aqua;
    }
    
    .containericons {
        width: 15%;
        height: 10vw;
        text-align: center;
        margin: auto;
        /* background-color: yellow; */
    }
    
    .titrenoire {
        padding: 3vw;
        color: black;
        position: relative;
    }
    
    .titrenoire:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 100px; /* Ajustez cette valeur selon vos besoins */
        width: calc(70% - 100px); /* Ajustez en fonction de la position du soulignement */
        border-bottom: 10px solid #2F2A85; /* Couleur et épaisseur du soulignement */
    }
    
    .icons {
        width: 60px;
        height: 60px;
        
    }
    
    
    h4 {
        display: none;

    
    }
    
    p {
        font-size: 1.1em;
        padding: 6vw;
    }

}