<br><br>
<section id="organisationformation">
    <h3 class="titrenoire"> Organisation de la formation</h3>
    <section id="container3">
        <!-- <section id="container4"> -->
        <section class="containericons">
            <img class="icons" src="/assets/images/icons8-cours-100.png">
            <h4>5 Unités d'Enseignement</h4>
        </section>
        <section class="containericons">
            <img class="icons" src="/assets/images/icons8-université-90.png">
            <h4>6 Semestres</h4>
        </section>
        <section class="containericons">
            <img class="icons" src="/assets/images/icons8-étude-100.png">
            <h4>200h de cours</h4>
        </section>
    <!-- </section> -->
    <!-- <section id="container5"> -->
        <section class="containericons">
            <img class="icons" src="/assets/images/icons8-design-100.png">
            <h4>600h de projet</h4>
        </section>
        <section class="containericons">
            <img class="icons" src="/assets/images/icons8-apprentissage-100.png">
            <h4>3 Expériences professionelles</h4>
        </section>
    <!-- </section> -->
    </section>

    <li><h1>UNE FORMATION UNIVERSITAIRE</h1>
        <p>Intégrer un BUT MMI c’est choisir une formation sélective, basée sur un programme national commun pour obtenir un diplôme délivré par l’Université. La formation est aujourd’hui dispensée dans plus de 30 universités réparties sur toute la France et permet de poursuivre vers une autre formation universitaire accessible à Bac+3 ou une école spécialisée.</p></li>
        
        <li><h1>UNE FORMATION PLURIDISCIPLINAIRE</h1>
        <p>Intégrer un BUT MMI c’est s’assurer d’acquérir une expertise globale sur les métiers du multimédia et de l’internet et de maîtriser des compétences techniques polyvalentes. La formation couvre tous les champs du digital, de la réalisation de sites internet à l’animation de communautés, de la création vidéo à la conception de contenus.</p></li>
        
        <li><h1>UNE FORMATION PROFESSIONNALISANTE</h1>
        <p>Intégrer un BUT MMI c’est suivre une formation qui permet aux étudiants de mettre en pratique leurs compétences pendant les projets tutorés, de réfléchir à leurs aspirations au travers du Projet Personnel et Professionnel (PPP) et de se confronter aux métiers lors de stages en entreprise.</p></li>
    
</section>
<br><br>