<footer>

  <section id="footG">
  <img id="logofooter" src="../../../assets/images/Footer/Logo.png" alt="Logo Gustave Eiffel">
  <p id="footadr">IUT de Meaux, Université Gustave Eiffel Meaux, 77100, 17 rue de Jablinot</p>
</section>

<section id="footC">
  <p>Meaux'vit © 2023 | Site de la journée portre ouverte MMI  dzdz d</p>
  <p><a class="lienfoot" href="#">Mentions légales</a> | <a class="lienfoot" href="#">Plan du site</a></p>
</section>

<section id="footD">
<div>
<a href="https://www.facebook.com/UniversiteGustaveEiffel/"><img class="reseaufoot" src="../../../assets/images/Footer/facebook.png"></a>
<a href="https://twitter.com/UGustaveEiffel?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img class="reseaufoot" src="../../../assets/images/Footer/twitter.png"></a>
<a href="https://www.instagram.com/universitegustaveeiffel/?hl=fr"><img class="reseaufoot" src="../../../assets/images/Footer/instagram.png"></a>
<a href="https://www.linkedin.com/school/universit%C3%A9-gustave-eiffel/?originalSubdomain=fr"><img class="reseaufoot" src="../../../assets/images/Footer/linkedin.png"></a>
</div>

<p>Téléphone : <strong>01 64 36 44</strong></p>
</section>

</footer>
  