<footer>

  <section id="footG">
  <img id="logofooter" src="image/Logo.png" alt="Logo Gustave Eiffel">
  <p id="footadr">IUT de Meaux, Université Gustave Eiffel Meaux, 77100, 17 rue de Jablinot</p>
</section>

<section id="footC">
  <p>Meaux'vit © 2023 | Site de la journée portre ouverte MMI</p>
  <p><a class="lienfoot" href="#">Mentions légales</a> | <a class="lienfoot" href="#">Plan du site</a></p>
</section>

<section id="footD">
<div>
<img class="reseaufoot" src="image/facebook.png">
<img class="reseaufoot" src="image/twitter.png">
<img class="reseaufoot" src="image/instagram.png">
<img class="reseaufoot" src="image/linkedin.png">
</div>

<p>Téléphone : <strong>01 64 36 44</strong></p>
</section>

</footer>
  