<footer>

  <section id="footG">
  <img id="logofooter" src="../../../assets/images/Footer/Logo.png" alt="Logo Gustave Eiffel">
  <p id="footadr">IUT de Meaux, Université Gustave Eiffel Meaux, 77100, 17 rue de Jablinot</p>
</section>

<section id="footC">
  <p>Meaux'vit © 2023 | Site de la journée portre ouverte MMI</p>
  <p><a class="lienfoot" href="#">Mentions légales</a> | <a class="lienfoot" href="#">Plan du site</a></p>
</section>

<section id="footD">
<div>
<img class="reseaufoot" src="../../../assets/images/Footer/facebook.png">
<img class="reseaufoot" src="../../../assets/images/Footer/twitter.png">
<img class="reseaufoot" src="../../../assets/images/Footer/instagram.png">
<img class="reseaufoot" src="../../../assets/images/Footer/linkedin.png">
</div>

<p>Téléphone : <strong>01 64 36 44</strong></p>
</section>

</footer>
  