footer{
  position: relative;
  border-top: 3px solid white;
  padding: 20px;
  background-color: #2F2A85;
  color: white;
  font-family: TT Norms, arial;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#logofooter{
  width: 250px;
  margin-bottom: 20px;

}

#footG{
width: 350px;
}

#footC{
  margin-top: 60px;
  text-align: center;
}
#footC a{
  text-decoration: underline;
}

.lienfoot{
color: white;
}

#footD{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.reseaufoot{
  width: 45px;
  padding: 0px 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .reseaufoot{
    padding: 0px 5px;;
  }

  #footC{
    margin-top: 200px;
    font-size: 20px;
    position: absolute;
  }

  #footD{
    margin-left: 200px
  }

  #footG{
    margin-left: 25px
  }

  footer{
  padding-bottom: 100px;
  }
}