<div class="container">
    <div class="image">
      <img src="../../../assets/images/quizz.png" alt="logo_quizz" />
    </div>
    <div class="content">
        <h2>Votre retour nous intéresse !</h2>
        <div class="rectangle"></div> <!-- Ajout du rectangle blanc -->
        <p>Afin de nous améliorer continuellement, nous aimerions recueillir vos avis sur la journée portes ouvertes pour connaître le profil des personnes intéressées par notre établissement et le BUT Métiers du Multimédia et de l’Internet . 
        </p>
        <p>Votre retour d'expérience est essentiel pour nous permettre de garantir l’expérience de la JPO et mieux répondre aux attentes de nos futurs étudiants.
        </p>
        <a href="page-quizz"><button>Accéder au Quizz</button></a>
    </div>
  </div>