<section class="ressource">
    <section class="unite">
    <div class="topunite">
        <div id="unit1" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 1 : Comprendre</h2>
    </div>
    
    <div class="bottomunite">
        <p><strong>UE 1.1 Comprendre (semestre 1)</strong><br>R103 - Ergonomie & Accessibilité -
            R104 - Culture Numérique - R105 - Stratégie de communication -
             ECUE - R118 - Économie & Droit du Numérique - Adaptation de
            Parcours - SAÉ 101 Audit Communication Numérique -<br><br>
            <strong>UE 2.1 Comprendre (semestre 2)</strong><br>R203 - Ergonomie & Accessibilité -
            R204 - Culture Numérique - SAÉ 201 - Exploration des usages - 
    </p>
    </div>
    </section>
    
    <section class="unite">
    <div class="topunite">
        <div id="unit2" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 2 : Concevoir</h2>
    </div>
    
    <div class="bottomunite">
        <p><strong>UE 1.2 Concevoir (semestre 1)</strong><br>R102 - Anglais pour le Web - R105 -
            Stratégie de communication - R106 - Expression, Communication et
            Rhétorique - SAÉ 102 - Recommandation de Communication Numérique -<br><br>
            <strong>UE 2.2 Concevoir (semestre 2)</strong><br>R202 - Anglais pour le Web - R205 -
            Stratégie de communication - R206 - Expression, Communication et
            Réthorique - SAÉ 202-Con - Conception d’une prod ou d’un service & com
    </p>
    </div>
    </section>
    </section>
    
    
    <section class="ressource">
    <section class="unite">
    <div class="topunite">
        <div id="unit3" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 3 : Exprimer</h2>
    </div>
    
    <div class="bottomunite">
        <p><strong>UE 1.3 Exprimer (Semestre 1)</strong><br>R116 - Représentation et traitement de
            l'information - R108 - Production Graphique - R109 - Culture Artistique -
             R110 - Production Audio & Vidéo - R107 - Écriture Multimédia et
            Narration - R101 - Anglais - SAÉ 103 - Design Graphique - SAÉ 104 -
            Production Audiovisuelle -<br><br>
            <strong>UE 2.3 Exprimer (Semestre 2)</strong><br> R208 - Production Graphique - R207 -
            Écriture Multimédia et Narration - R209 - Culture Artistique - R210 -
            Production Audio & Vidéo - R216 - Représentation et traitement de
            l'information - R201 - Anglais - SAÉ 202-Exp - Conception d’une prod ou
            d’un service & com - 
    </p>
    </div>
    </section>
    
    <section class="unite">
    <div class="topunite">
        <div id="unit4" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 4 : Développer</h2>
    </div>
    
    <div class="bottomunite">
        <p>
            <strong>UE 1.4 Développer (Semestre1)</strong>
            <br>
            R112 - Intégration - R113 -
            Développement Web - R115 - Hébergement - SAÉ 105 - Produire un site
            web -

            <br><br>
            
            <strong>UE 2.4 Développer (Semestre 2)</strong>
            <br>
            R212 - Intégration - R213 -
            Développement Web - R215 - Hébergement - R214 - Système
            d'information - R211 - Gestion de Contenu - SAÉ 203 - Site Web et BDD -
             SAÉ 202-Dev - Conception d’une prod ou d’un service & com - 
    </p>
    </div>
    </section>
    </section>
    
    
    <section id="fin" class="ressource">
    <section class="unite">
    <div class="topunite">
        <div id="unit5" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 5 : Entreprendre</h2>
    </div>
    
    <div class="bottomunite">
        <p>
            <strong>UE 1.5 Entreprendre (Semestre 1)</strong>
            <br>
            R117 - Gestion de Projet - R119 -
            PPP - SAÉ 106 - Gestion projet recommandation de com numérique -

            <br><br>
            
            <strong>UE 2.5 Entreprendre (Semestre 2)</strong>
            <br>
            R217 - Gestion de projet - R218 -
            Economie et droit du numérique - R219 - PPP - SAÉ 202-Ent -
            Conception d’une prod ou d’un service & com - SAE204 - Construire sa
            présence en ligne - 
    </p>
    </div>
    </section>
    </section>