<div class="background-image"></div>
<section class="ressource">
    <section class="unite">
    <div class="topunite">
        <div id="unit1" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 1 : Developper</h2>
    </div>
    
    <div class="bottomunite">
        <p>
            <strong>UE ? Developper (S5)</strong>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi voluptas reprehenderit laboriosam perspiciatis maiores quaerat ducimus, inventore laudantium sunt nam cum atque veritatis natus. Adipisci dolor dolorem distinctio impedit.

            <br><br>
            
            <strong>UE ? Developper (s6)</strong>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi voluptas reprehenderit laboriosam perspiciatis maiores quaerat ducimus, inventore laudantium sunt nam cum atque veritatis natus. Adipisci dolor dolorem distinctio impedit.
    </p>
    </div>
    </section>
    
    <section class="unite">
    <div class="topunite">
        <div id="unit2" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 2 : Entreprendre</h2>
    </div>
    
    <div class="bottomunite">
        <p>
            <strong>UE ? Entreprendre (S5)</strong>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi voluptas reprehenderit laboriosam perspiciatis maiores quaerat ducimus, inventore laudantium sunt nam cum atque veritatis natus. Adipisci dolor dolorem distinctio impedit.

            <br><br>
            
            <strong>UE ? Entreprendre (s6)</strong>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eligendi voluptas reprehenderit laboriosam perspiciatis maiores quaerat ducimus, inventore laudantium sunt nam cum atque veritatis natus. Adipisci dolor dolorem distinctio impedit.
    </p>
    </div>
    </section>
    </section>