<section class="ressource">
    <section class="unite">
    <div class="topunite">
        <div id="unit1" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 1 : Comprendre</h2>
    </div>
    
    <div class="bottomunite">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet. Sit dolorem enim a sint reiciendis et esse sint? Id quia laboriosam qui aperiam sapiente qui quidem explicabo eos voluptatibus nulla 33 aspernatur eligendi. Aut earum libero est dicta nihil quo temporibus enim et laudantium molestiae. Eum assumenda esse et unde cumque qui voluptatum nihil non quod esse est minus similique qui itaque voluptatem! </p><p>Non natus sint eum enim fuga qui nesciunt temporibus aut excepturi voluptatem aut nesciunt unde cum nihil nemo. Aut fugiat explicabo ut architecto praesentium et obcaecati cupiditate sed recusandae repudiandae et sunt quos eos laborum consectetur! </p><p>Ab impedit possimus non consequuntur dolor ut placeat magnam qui nulla tenetur. Ex temporibus pariatur eos optio fugit et quidem accusamus in ullam animi.
    </p>
    </div>
    </section>
    
    <section class="unite">
    <div class="topunite">
        <div id="unit2" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 2 : Concevoir</h2>
    </div>
    
    <div class="bottomunite">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet. Sit dolorem enim a sint reiciendis et esse sint? Id quia laboriosam qui aperiam sapiente qui quidem explicabo eos voluptatibus nulla 33 aspernatur eligendi. Aut earum libero est dicta nihil quo temporibus enim et laudantium molestiae. Eum assumenda esse et unde cumque qui voluptatum nihil non quod esse est minus similique qui itaque voluptatem! </p><p>Non natus sint eum enim fuga qui nesciunt temporibus aut excepturi voluptatem aut nesciunt unde cum nihil nemo. Aut fugiat explicabo ut architecto praesentium et obcaecati cupiditate sed recusandae repudiandae et sunt quos eos laborum consectetur! </p><p>Ab impedit possimus non consequuntur dolor ut placeat magnam qui nulla tenetur. Ex temporibus pariatur eos optio fugit et quidem accusamus in ullam animi.
    </p>
    </div>
    </section>
    </section>
    
    <section id="fin" class="ressource">
    <section class="unite">
    <div class="topunite">
        <div id="unit5" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 5 : Entreprendre</h2>
    </div>
    
    <div class="bottomunite">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet. Sit dolorem enim a sint reiciendis et esse sint? Id quia laboriosam qui aperiam sapiente qui quidem explicabo eos voluptatibus nulla 33 aspernatur eligendi. Aut earum libero est dicta nihil quo temporibus enim et laudantium molestiae. Eum assumenda esse et unde cumque qui voluptatum nihil non quod esse est minus similique qui itaque voluptatem! </p><p>Non natus sint eum enim fuga qui nesciunt temporibus aut excepturi voluptatem aut nesciunt unde cum nihil nemo. Aut fugiat explicabo ut architecto praesentium et obcaecati cupiditate sed recusandae repudiandae et sunt quos eos laborum consectetur! </p><p>Ab impedit possimus non consequuntur dolor ut placeat magnam qui nulla tenetur. Ex temporibus pariatur eos optio fugit et quidem accusamus in ullam animi.
    </p>
    </div>
    </section>
    </section>