<section class="ressource">
    <section class="unite">
    <div class="topunite">
        <div id="unit1" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 1 : Comprendre</h2>
    </div>
    
    <div class="bottomunite">
        <p>
            <strong>UE 3.1 Comprendre (s3)</strong>
            <br>
            R3.04 Cult Num - R3.06 Réferencement -
            SAE3.01 compr - SAE3.02 compr - 

            <br><br>
            
            <strong>UE 4.1 Comprendre (s4)</strong>
            <br>
            R4.02 Eco, droit, Gestion - SAE4.dev01 :
            Comprendre - SAE Portf dev comp - Stage -
    </p>
    </div>
    </section>
    
    <section class="unite">
    <div class="topunite">
        <div id="unit2" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 2 : Concevoir</h2>
    </div>
    
    <div class="bottomunite">
        <p>
            <strong>UE 3.2 Concevoir (S3)</strong>
            <br>
            R3.03 Design d'exp - R3.05 Strat de com -
            SAE3.01 concevoir - SAE3.02 concevoir -

            <br><br>
            
            <strong>UE 4.2 Concevoir (s4)</strong>
            <br>
            R4.03 Design d'exp - SAE4.dev.01 : Concevoir -
            SAE Portf Dev conc - Stage -
    </p>
    </div>
    </section>
    </section>
    
    
    <section class="ressource">
    <section class="unite">
    <div class="topunite">
        <div id="unit3" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 3 : Exprimer</h2>
    </div>
    
    <div class="bottomunite">
        <p>
            <strong>UE 3.3 Exprimer (S3)</strong>
            <br>
            R3.09 Créa et design int - R3.11 Audiovisuel et
            Motion design - R3.10 Culture artistique - R3.15 Repres et trait de l'info
            - R3.01 Anglais - R3.08 Ecriture Multimédia - SAE3.02 Exprimer -
            SAE3.03 Exprimer -

            <br><br>
            
            <strong>UE 4.3 Exprimer (s4)</strong>
            <br>
            R4.01 Anglais - SAE4.Dev01 : Exprimer -
            SAE4.Dev.02 Exprimer - SAE Portfolio Dev Exprimer - Stage -
    </p>
    </div>
    </section>
    
    <section class="unite">
    <div class="topunite">
        <div id="unit4" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 4 : Développer</h2>
    </div>
    
    <div class="bottomunite">
        <p>
            <strong>UE 3.4 Développer (S3)</strong>
            <br>
            R3.12 Dev web et intégration - R3.14 Dépl de
            serv - R3.13 Dev Back - SAE3.01 Développer - SAE3.03 Développer - 

            <br><br>
            
            <strong>UE 4.4 Développer (s4)</strong>
            <br>
            R4.Dweb.05 Création et design int -
            R4.Dweb.06 Dev Front - R4.Dweb.07 Dev Back - R4.Dweb.08
            Déploiement de services - SAE4.Dev01 : Développer - SAE4.Dev02 :
            Développer - SAE Portfolio Dev Développer - Stage -             
    </p>
    </div>
    </section>
    </section>
    
    
    <section id="fin" class="ressource">
    <section class="unite">
    <div class="topunite">
        <div id="unit5" class="illustration">
            <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
        </div>
        <h2 class="txtunite">Unité d’enseignement 5 : Entreprendre</h2>
    </div>
    
    <div class="bottomunite">
        <p>
            <strong>UE 3.3 Entreprendre (S3)</strong>
            <br>
            R3.02 Anglais renforcé - R3.07 expr comm
            - R3.16 gest de proj - R3.18 PPP - R3.17 Eco gest droit - SAE3.01
            Entreprendre - SAE3.02 Entreprendre - SAE3.03 Entreprendre -

            <br><br>
            
            <strong>UE 4.5 Entreprendre (s4)</strong>
            <br>
            R4.04 Expres Comm - SAE4.Dweb01
            entreprendre - SAE Portfolio Dev Entreprendre - Stage - 
    </p>
    </div>
    </section>
    </section>