<div class="container">
    <div class="image">
      <img src="../../../assets/images/etudiant.png" alt="Image à droite" />
    </div>
    <div class="content">
        <h2>Présentation des Etudiants :</h2>
        <div class="rectangle"></div>
        <p>BUT Gestion des Entreprises et des Administration (Salles 201/202/ 203 1er étage batiment A)
        </p>
        <p>BUT Techniques de Commercialisation (Salles  301/ 302/ 303/ 304/ A1/ A2/ B1/ B2)
        </p>
        <p>BUT Métiers du Multimédia et de l’Internet (salle 204/ B4/ 212 / Salle virtuelle/ 311/ 313 studio/ 317/ 318)
        </p>
    </div>
  </div>