
    <section class="ressource">
        <section class="unite"><a href="page-quizz">
        <div class="topunite">
            <div id="unit1" class="illustration">
                <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
            </div>
            <h2 class="txtunite">Répondre au Quizz</h2>
        </div>
        
        <div class="bottomunite">
            <p>
                "🌟 Prêt à partager votre expérience? 🏫 Cliquez ci-dessous pour participer à notre quiz exclusif sur la Journée Portes Ouvertes de l'école! 🤔💬 Nous sommes impatients de connaître votre avis et vos impressions. Chaque réponse compte pour nous aider à améliorer votre expérience. 
                Relevez le défi, partagez vos idées et plongez dans une expérience interactive. Votre voix est essentielle! 🚀 Cliquez maintenant et façonnez l'avenir de notre école ensemble! 👇 #Feedback #JournéePortesOuvertes #PartagezVotreAvis"
        </p>
        </div>
        </a></section>
        
        <section class="unite"><a href="page-visite">
        <div class="topunite">
            <div id="unit2" class="illustration">
                <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
            </div>
            <h2 class="txtunite">Visite Virtuelle</h2>
        </div>
        
        <div class="bottomunite">
            <p>"🌐 Explorez notre école de manière immersive! 🏫 Cliquez ci-dessous pour une visite virtuelle captivante et découvrez tous les coins et recoins de notre campus.
                 🚶‍♂️💻 Plongez dans l'expérience et laissez-vous inspirer par notre environnement d'apprentissage. Votre exploration compte, et nous sommes ravis de connaître votre ressenti! 💬👀 Cliquez maintenant pour une aventure virtuelle inoubliable! 👇 #VisiteVirtuelle #ExplorezNotreÉcole #PartagezVotreExpérience"
        </p>
        </div>
        </a></section>
        </section>
        
        
        <section class="ressource">
        <section class="unite"><a href="page-jpo">
        <div class="topunite">
            <div id="unit3" class="illustration">
                <img src="../../../assets/images/Ressources/livre-ouvert.png" alt="">
            </div>
            <h2 class="txtunite">Journée Porte Ouverte</h2>
        </div>
        
        <div class="bottomunite">
            <p>"🎉 Rejoignez-nous pour une journée inoubliable lors de notre Portes Ouvertes! 🏫 Cliquez ci-dessous pour découvrir notre école de plus près. Rencontrez nos enseignants, explorez nos installations et plongez dans l'atmosphère vibrante qui fait de notre école un lieu unique d'apprentissage.
                 Votre présence est précieuse, et nous sommes ravis de partager cette journée avec vous! 💬👋 Venez explorer ce que notre école a à offrir! 👇 #JournéePortesOuvertes #ExplorezNotreÉcole #Bienvenue"
        </p>
        </div>
        </a></section>
        
        </section>