.unite{
    box-shadow: 1px 2px 5px 0px #838383;
    width: 35%;
    border-radius: 10px;
    padding: 40px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    text-align: justify;
}
.unite a{
    text-decoration: none;
    color: black;
}

.unite:hover{
    transform: scale(1.05);
}

.bottomunite{
    margin-top: 30px;
}

.illustration{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    padding: 1px 3px;
}

#unit1{
    background-color: rgb(247, 236, 105);
}

#unit2{
    background-color: rgb(132 126 239);
}

#unit3{
    background-color: rgb(145, 247, 105);
}

#unit4{
    background-color: rgb(247, 174, 105);
}

#unit5{
    background-color: rgb(105, 105, 247);
}

.topunite{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.txtunite{
    margin-left: 10px;
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 32px;
}

.ressource{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

#fin{
    display: flex;
    justify-content: left;
    margin-left: 26px;
    margin-bottom: 60px;
}

@media screen and (max-width: 800px) {
    .ressource {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .unite{
        width: 75%;
        border-radius: 25px;
        padding: 15px;
        margin-bottom: 30px;
    }
    
    #fin{
        margin-left: 0px;
        }
  }