<section id="containerdoc">
    <h3 class="titrenoire"> Documentation</h3>
<section class="scrollinghorizontal2">
    <!-- <i id="left" class="fa-solid fa-angle-left"></i> -->
    <img src="/assets/images/fg.png" id="left2" class="backbtn2">
    <ul class="carousel2">
      <li class="card2">
        <section class="img"><img src="/assets/images/imagepdf.png" alt="img" draggable="false"></section>
              <section class="separateur"></section>
        <span>Description JPO</span>
      </li>
      <li class="card2">
        <section class="img"><img src="/assets/images/imagepdf.png" alt="img" draggable="false"></section>
              <section class="separateur"></section>
        <span>Description BUT 1</span>
      </li>
      <li class="card2">
        <section class="img"><img src="/assets/images/imagepdf.png" alt="img" draggable="false"></section>
              <section class="separateur"></section>
        <span>Description BUT 2</span>
      </li>
      <li class="card2">
        <section class="img"><img src="/assets/images/imagepdf.png" alt="img" draggable="false"></section>
              <section class="separateur"></section>
        <span>Description BUT 3</span>
      </li>
      <li class="card2">
        <section class="img"><img src="/assets/images/imagepdf.png" alt="img" draggable="false"></section>
              <section class="separateur"></section>
        <span>Description MMI</span>
      </li>
      <li class="card2">
        <section class="img"><img src="/assets/images/imagepdf.png" alt="img" draggable="false"></section>
              <section class="separateur"></section>
        <span>Description JPO 2</span>
      </li>
    </ul>
    <!-- <i id="right" class="fa-solid fa-angle-right"></i> -->
    <img src="/assets/images/fd.png" id="right2" class="backbtn2">
  </section>
</section>
<br><br><br><br><br>