<section id="fond">

    <section id="container">
            <h1>BUT MMI : la fusion parfaite entre créativité et technologie.</h1>
        <section id="containerdomaine">
            <section class="domaine">
                <h2>AUDIOVISUEL</h2>
            </section>
            <section class="domaine">
                <h2>DÉVELOPPEMENT WEB</h2>
            </section>
            <section class="domaine">
                <h2>GRAPHISME</h2>
            </section>
        </section>
    </section>
</section>