<section class="container-1">
    <div class="infos-left">
       <h2>Le déroulé de la JPO</h2>
       <p>De 8h30 à 18h des étudiants de la première à la troisième année de BUT MMI vont feront visiter le campus de Meaux tout en partageant leur expérience au sein de la formation</p>
       <a href="page-jpo"><p>Afficher le programme</p></a>
    </div>
    <div class="sep"><div id="sep"></div></div>
    <div class="infos-right">
    <h2>Se rendre à la JPO</h2>
    <div class="trajet">
       <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2619.916243683803!2d2.875648876033093!3d48.95508067134539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e8a1033343bb61%3A0x13e74f8aaca1e5ad!2s17%20Rue%20Jablinot%2C%2077100%20Meaux!5e0!3m2!1sfr!2sfr!4v1701810666071!5m2!1sfr!2sfr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
       <div id="infos-trajet">
           <span>Transport :</span>
           <p>Train : ligne P / Bus : Lignes K, F, 18, 19, 69</p>
           <br>
           <span>Résidence étudiante :</span>
           <p>Fac habitat, 10 passage Thibault de Champagne</p>
           <br>
           <span>Adresse :</span>
           <p>IUT de meaux Université Gustave Eiffel,</p>
           <p>17 rue Jablinot,</p>
           <p>77100 Meaux.</p>
       </div>
   </div>
    </div>
</section>
