<section id="infoformation">
    <h3> Quelques mots sur la formation BUT MMI </h3>

    <p> Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, 
        iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, 
        cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis 
        acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, 
        ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, 
        pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil 
        ignoscendum, sed etiam acriter est resistendum.Etenim si attendere diligenter, existimare vere de,
        iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, 
        cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis 
        acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, 
        ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, 
        pietati tribuo, si iussus est, necessitati,
    </p>

    <p> Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, 
        iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, 
        cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis 
        acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, 
        ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, 
        pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil 
        ignoscendum, sed etiam acriter est resistendum.Etenim si attendere diligenter, existimare vere de,
        iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, 
        cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis 
        acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, 
        ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, 
        pietati tribuo, si iussus est, necessitati,
    </p>
</section>
<section id="blanc"></section>
