<section id="infoformation">
    <h3> Quelques mots sur la formation BUT MMI </h3>

    <p> Le bachelor universitaire de technologie Métiers du Multimédia et de l’Internet est un cursus qui délivre le grade de licence au bout de trois années d’études post-bac. 
        La filière MMI forme notamment à l’usage des nouveaux outils de communication et à la création multimédia. Montage vidéo, création de sites, écriture multimédia, 
        conception graphique : les étudiants de cette formation acquièrent des compétences polyvalentes pour s’orienter vers un large panel de métiers.
        
        <br><br>En France, une trentaine d’universités proposent ce cursus particulièrement prisé en IUT. Le BUT MMI est par ailleurs un titre certifié de niveau 6 au RNCP 
        (Répertoire National de la Certification Professionnelle). Il délivre ainsi 180 crédits ECTS (European Credit Transfer System) en fin de course et permet ainsi de
         poursuivre ses études dans l’enseignement supérieur. 
    </p>
</section>
<section id="blanc"></section>
